# Data Science Slugs - Datathon
*10-02-2020 - Anders Poirel*


Your task to predict the sales price of single-family residential appartments in Tehran, Iran using data pulled from construction and other economic variables. [1]
This dataset has relatively few data points, and a lot of features (105), so watch out for overfitting if you decide to use a complicated algorithm! 

You might want to use [feature selection](https://en.wikipedia.org/wiki/Feature_selection) and [regularization](https://en.wikipedia.org/wiki/Regularization_(mathematics)) techniques.

I've already cleaned and organized the dataset, so you only need to worry about modeling.

## Acquiring the data

In [1]:
import os
import pandas as pd

In [2]:
DATAPATH = '' # modify if data in in a different directory than this notebook

In [13]:
train_features = pd.read_csv(os.path.join(DATAPATH, 'train_features.csv'))
train_labels = pd.read_csv(os.path.join(DATAPATH,'train_labels.csv'), header = None)
test_features = pd.read_csv(os.path.join(DATAPATH,'test_features.csv'))

In [5]:
train_features.shape

(260, 107)

In [8]:
train_features

,START YEAR,START QUARTER,COMPLETION YEAR,COMPLETION QUARTER,V-1,V-2,V-3,V-4,V-5,V-6,...,T5 V-20,T5 V-21,T5 V-22,T5 V-23,T5 V-24,T5 V-25,T5 V-26,T5 V-27,T5 V-28,T5 V-29
0,85,3,86,4,20,1840,420,220.8,120,263.61,...,15,1534.600000,1795.30,9000.91,9022.0,109.02,112.00,10411.45,23548.00,1167697.4
1,87,2,90,1,1,1810,492,1158.4,640,843.98,...,11,2451.200000,2526.40,9254.28,9306.0,136.56,138.80,9291.00,12393.00,1732937.5
2,86,1,87,4,3,5110,980,1430.8,280,505.51,...,15,1821.600000,1963.70,9114.22,9131.0,116.56,119.13,9459.40,47096.00,1391757.1
3,85,2,88,3,20,1520,350,212.8,140,310.61,...,15,1836.600000,1932.50,8920.04,8938.0,110.51,108.51,12423.86,11774.00,1181572.6
4,72,3,74,3,4,440,120,13.2,30,779.57,...,12,180.371507,158.45,1439.00,1450.0,9.91,8.85,590.64,16388.00,121857.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255,80,1,81,3,20,890,230,35.6,40,237.03,...,15,629.900000,764.50,1755.00,8420.0,54.62,44.79,2206.19,40234.00,629797.2
256,77,2,78,4,4,720,190,72.0,100,798.68,...,15,229.200000,582.90,1755.00,4758.0,34.98,27.13,1859.50,9483.25,408321.5
257,75,4,76,4,13,700,220,63.0,90,521.86,...,15,277.800000,437.00,1750.00,3875.0,25.69,17.34,1232.42,26822.25,405541.8
258,86,4,88,1,18,1380,360,289.8,210,339.32,...,14,2014.500000,2143.30,9216.19,9244.0,129.24,134.46,10078.40,36195.00,1654038.4
259,81,4,83,2,2,760,200,106.4,140,616.47,...,15,757.800000,861.80,1755.00,8018.0,65.00,60.53,3538.71,31940.25,610502.7

In [14]:
train_labels

        0
0    1900
1    5800
2    4200
3    2100
4     250
..    ...
255   460
256   630
257   280
258   880
259  1200

[260 rows x 1 columns]

In [7]:
test_features.shape

(112, 107)

## Explanation of features

![](https://github.com/Jswig/dss-datathon-w2020/blob/master/figures/dataexplanation1.PNG)

![](https://github.com/Jswig/dss-datathon-w2020/blob/master/figures/dataexplanation2.PNG)

## Building the Model

A general strategy you should follow:

(i) come up with a model idea

(ii) build the model 

(iii) asses model performance using a hold-out set or CV

(iv) repeat (i)-(iii) until you are satisfied with the performance

(v) refit on the **entire** dataset using the same parameters

In [ ]:
## your code here

## Submitting your entry

In [ ]:
predictions = pd.read_csv('sample_predictions.csv')

## modify predictions here

predictions.to_csv('predictions.csv', index = False)

Find your `predictions.csv` file and fill out the following [Google form]().

## References

Sources of dataset:

[1] Rafiei, M.H. and Adeli, H. (2015). A Novel Machine Learning Model for Estimation of Sale Prices of Real Estate Units.
ASCE, Journal of Construction Engineering & Management, 142(2), 04015066.